/* ---------------------------------- */
/* Basic Set-up */
/* ---------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/* ---------------------------------- */
/* Reusable Components */
/* ---------------------------------- */

.row {
  max-width: 1140px; /*absolute value*/
  margin: 0 auto 0 auto; /*top right bottom left*/
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ---------------------------------- */
/* ICONS*/
/* ---------------------------------- */
.icon-big {
  font-size: 350%;
  display: blocks;
  color: #003cff;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #003cff;
  font-size: 120%;
  /* secrets to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 10px;
  /* setting up negative margin */
}
/* ---------------------------------- */
/* LINKS*/
/* ---------------------------------- */
a:link,
a:visited {
  color: #555;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #003cff;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ---------------------------------- */
/* Header */
/* ---------------------------------- */

header {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/header1.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/header1.jpg);
  background-size: cover;
  background-position: center;
  height: 150px;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo {
  height: 150px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
}

/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #fffb00;
}
/* ---------------------------------- */
/* FEATURES */
/* ---------------------------------- */
.section-features.long-copy {
  margin-bottom: 30px;
}

/* ---------------------------------- */
/* Footer */
/* ---------------------------------- */
footer {
  background-color: rgb(0, 0, 0);
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-icons {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: 0;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #fffb00;
}

.social-icons li a:link,
.social-icons li a:visited {
  font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
/* Body */
.contact-form {
  width: 60%;
  margin: 0 auto;
}

textarea {
  width: 500px;
}
