.modal3,
.modal4{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 25rem;
    height:430px;
    border-radius: 0.5rem;
}

.modal-content4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 25rem;
    height:250px;
    border-radius: 0.5rem;
}

.close-button3,
.close-button4{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button3:hover,
.close-button4:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.lgm-btn1{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background:#52a451;
    color:white;
}

.lgm-btn2{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background:#cb444b;
    color:white;
}

.modal-button2{
    margin-left:110px;
}

.modal-button3{
    margin-left:10px;
}