<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Properties>
        <!-- <Property name="layoutPattern">%d [%t] %-5level %c(%M:%L) - %m%n</Property> -->
        <Property name="layoutPattern">%-5p : %c - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>
    </Appenders>

    <Loggers>
    <Root level="info" additivity="false" >
        <AppenderRef ref="console" />
    </Root>

    <logger name="org.springframework.*" additivity="false" >
        <AppenderRef ref="console" level="info" />
    </logger>

    <logger name="org.apache.ibatis.*" additivity="false" >
        <AppenderRef ref="console" level="info" />
    </logger>

    <logger name="org.mybatis.*" additivity="false" >
        <AppenderRef ref="console" level="debug" />
    </logger>

    <Logger name="org.springframework.jdbc.core.JdbcTemplate"
            level="debug" />

    <Logger name="org.springframework.jdbc.core.StatementCreatorUtils"
            level="trace" />

    <logger name="Shoetudio.spring.mvc.*" additivity="false" >
        <AppenderRef ref="console" level="info" />
    </logger>

    </Loggers>
</Configuration>